<nav>
    <ul>
        <li><a><i class="bi bi-house"></i> Home</a></li>
        <li><a><i class="bi bi-search"></i> Search</a></li>
        <li><a><i class="bi bi-bell"></i> Notifications</a></li>
        <li><a><i class="bi bi-person-circle"></i> Profile</a></li>
        <li><a><i class="bi bi-gear"></i> Settings</a></li>
    </ul>
</nav>