body {
    display: flex;
}

nav.sidebar {
    > ul {
        list-style-type: none;
        > li {
            font-size: 1.5em;
            margin-top: 0.5em;
            > a {
                text-decoration: none;
            }
        }
    }
    width: 30vw;
    height: 100vh;
}

main {
    width: 70vw;
    height: 100vh;
}

.active {
    font-weight: bold;
}
