<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {"title": "Draft - Hubble"}) %>
<body>
    <%- include('partials/navbar', { activeId: '' }) %>
    <main class="p-4">
        <h1>Create Thread</h1>
        
    </main>
</body>
</html>