<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {"title": "Home - Hubble"}) %>
<body>
    <%- include('partials/navbar', { activeId: 'home' }) %>
    <main class="p-4">
        <h1>Welcome to Hubble!</h1>
    </main>
</body>
</html>