<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {"title": "Login - Hubble"}) %>
<head>
  <script>
    async function login(event) {
      event.preventDefault();
      const username = document.getElementById('username').value;
      const password = document.getElementById('password').value;

      try {
        const response = await fetch('/account/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ username, password })
        });

        const result = await response.json();
        if (response.ok) {
          window.location.href = '/';
        } else {
          document.getElementById('error').innerText = result.message;
        }
      } catch (error) {
        document.getElementById('error').innerText = 'Login failed';
      }
    }
  </script>
</head>
<body>
    <%- include('partials/navbar', { activeId: '' }) %>
    <main class="p-4">
        <h1>Login</h1>
        <form onsubmit="login(event)">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
          </form>
        <p id="error" style="color: red;"></p>
    </main>
</body>
</html>