<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {"title": "Login - Hubble"}) %>
<body>
    <%- include('partials/navbar', { activeId: '' }) %>
    <main class="p-4">
        <h1>Login</h1>
    </main>
</body>
</html>