<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {"title": "Settings - Hubble"}) %>
<body>
    <%- include('partials/navbar', { activeId: 'settings' }) %>
    <main class="p-4">
        <h1>Settings</h1>
    </main>
</body>
</html>